include ../mixins/mixin.pug

doctype html
html
    head
        meta(charset="utf-8")
        title HTML theme builder
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="icon", href="img/favicon/favicon.ico")
        link(rel="stylesheet",href="css/main.min.css")
    body
        include ../partials/header.pug
        div.container
            block content
        include ../partials/footer.pug
        include ../partials/scripts.pug